body 
{
	font-family: lucida grade ,tahoma, verdana,arial,sans-serif;
	background-color: #e9e9e9;
}

body p
{
	font-size: 0.8em;
	line-height: 1.28;
}

#wrapper
{
	width: 1080px;
	background-color: white;
	margin: 0 auto;
	padding: 10px;
	border: 5px solid #dedede;
}

#banner
{
	background-image: url(11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 5px solid #dedede;
	height: 200px;
}

#content_area
{
	float: left;
	width: 750px;
	margin: 20px 0 20px 0;
	padding: 10px;
}

#sidebar
{
	float: right;
	width: 250px;
	height: 400px;
	margin: 20px 10px;
	padding: 10px;
	border: 2px solid #e3e3e3;
}

footer
{
	clear: both;
	width: auto;
	height: 40px;
	padding: 10px;
	border: 3px solid #e3e3e3;
	text-align: center;
	color: #fff;
	text-shadow: 0.1em 0.1em #333;
	background-image: url(2.jpg);
}

#navigation 
{
	height: 60px;
	border: 3px solid #e3e3e3;
	margin-top: 20px;
	text-shadow: 0.1em 0.1em #333;
	background-image: url(2.jpg);
}

#nav
{
	list-style: none;
}

#nav ul
{
	margin: 0;
	padding: 0;
	width: auto;
	display: none;
}

#nav li
{
	font-size: 24px;
	float: left;
	position: relative;
	width: 180px;
	height: 50px;
}

#nav a:link nav a:active, nav a:visited
{
	display: block;
	color: #fff;
	text-decoration: none;
}

#nav a: hover
{
	color: lightblue;
}

.imgLeft
{
	float: left;
	width: 240px;
	height: 150px;
	margin: 0px 10px 10px 0;
	padding: 10px;
}

.imgRight
{
	float: right;
	width: 200px;
	height: 250px;
	margin: 1px 0 10px 10px;
	padding: 10px;
}

.coffeeTable
{
	width: 750px;
	height: 250px;
	margin: 10px 10px 10px 0;
	border: 3px solid #e3e3e3;
	border-radius: 10px;
	moz-border-radius: 10px;
}

.coffeeTable tr th, .coffeeTable tr td
{
	text-align: left;
	padding: 0px 5px 0 5px;
}

.coffeTable img
{
	padding: 0px 10px 10px 10px;
	height: 150px;
	width: 150px;
}

.inputField
{
	width: 280px;
	padding: 4px;
}

label
{
	float: left;
	width: 100px;
	font-weight: bold;
}

.overviewTable
{
	width: 700px;
}

.overviewTable tr
{
	padding: 4px;
}

.overviewTable td
{
	padding: 4px;
	border: 1px solid #e3e3e3;
}